#############################
### System files
#############################

/**/*~
/**/.DS_Store
/**/desktop.ini
/**/thumbs.db

#############################
### VCS
#############################

/**/.git
/**/.gitignore
/**/.gitkeep

#############################
### Application
#############################

# External packages
/app/vendor

# Logs
/app/logs/*
