#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### VCS
#############################

.git
.gitignore
.gitkeep

#############################
### IDE
#############################

*.code-workspace
*.sublime-project
*.sublime-workspace
.editorconfig
.idea
.vscode

#############################
### Docker
#############################

.dockerignore
Dockerfile

#############################
### PHP
#############################

vendor

#############################
### Application
#############################

/app/logs/*
