#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### VCS
#############################

.git
.gitignore
.gitkeep

#############################
### IDE
#############################

*.code-workspace
.editorconfig
.idea
.vscode

#############################
### Platform
#############################

/.dockerignore
/.terraform
/.terraform.lock.hcl
/Dockerfile
/k8s
/skaffold.yaml
/terraform.tf

#############################
### Application
#############################

/app/logs/*
/app/vendor
