root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ash,bash,sh}]

[*.{css,less,scss}]

[*.feature]

[*.{html,xml}]

[*.{js,json}]

[*.md]
trim_trailing_whitespace = false

[*.php]
indent_size = 4
[composer.{json,lock}]
indent_size = 4

[*.ts]

[*.{yaml,yml}]
