#############################
### System files
#############################

/**/*~
/**/.DS_Store
/**/desktop.ini
/**/thumbs.db

#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode

#############################
### Docker
#############################

/.env
/docker-compose.override.yml

#############################
### Application
#############################

# Package managers
/app/vendor

# Logs
/app/logs/*
!/app/logs/.gitkeep

# Xdebug output
/app/xdebug/*
!/app/xdebug/.gitkeep
