#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea

#############################
### Docker
#############################


#############################
### PHP
#############################

vendor

#############################
### Application
#############################

/app/logs/*
!/app/logs/.gitkeep
