services:
  rte:
    build:
      context: .
      dockerfile: Dockerfile
      target: rte
    image: ghcr.io/damlys/phpdock:rte-${VERSION:-8.1.3}
    deploy:
      replicas: 0
  sdk:
    build:
      context: .
      dockerfile: Dockerfile
      target: sdk
    image: ghcr.io/damlys/phpdock:sdk-${VERSION:-8.1.3}
    deploy:
      replicas: 0
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    image: ghcr.io/damlys/phpdock:app-${VERSION:-8.1.3}
    environment:
      HTTP_API_TESTS_ENTRYPOINT: http://app:8080
