<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.3/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
>
  <testsuites>
    <testsuite name="API Tests Suite">
      <directory>src/ApiTests</directory>
    </testsuite>
    <testsuite name="Unit Tests Suite">
      <directory>tests/UnitTests</directory>
    </testsuite>
  </testsuites>
</phpunit>
