#############################
### System
#############################

.DS_Store
*.bak
*.swp
*.tmp
*~
desktop.ini
thumbs.db

#############################
### VCS
#############################

.git
.gitignore
.gitkeep

#############################
### IDE
#############################

.idea
.vscode
*.code-workspace

#############################
### Docker
#############################

.dockerignore
.env
docker-compose.*.yml
docker-compose.yml
Dockerfile

#############################
### PHP
#############################

vendor

#############################
### Application
#############################

/app/logs/*
